{% extends '/Layouts/base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleContact.css') }}">
{% endblock %}
<div class="container45">
    <h1>Contactanos</h1>
    <p class="texti">Si tienes alguna pregunta, comentario o inquietud, por favor llena el formulario a continuación y nos pondremos en contacto contigo lo antes posible.</p>
    
    <form action="/Services/contactinfo" method="post">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" placeholder="Tu nombre" required>
        </div>
        <div class="form-group">
            <label for="correo">Correo electrónico</label>
            <input type="email" id="correo" name="correo" placeholder="Tu correo electrónico" required>
        </div>
        <div class="form-group">
            <label for="asunto">Asunto</label>
            <input type="text" id="asunto" name="asunto" placeholder="Asunto" required>
        </div>
        <div class="form-group">
            <label for="asunto">Telefono</label>
            <input type="tel" id="telefono" name="telefono" placeholder="Telefono" required>
        </div>
        <div class="form-group">
            <label for="mensaje">Mensaje</label>
            <textarea id="mensaje" name="mensaje" placeholder="Escribe tu mensaje aquí" required></textarea>
        </div>
        <button type="submit">Enviar</button>
    </form>
</div>
{% endblock %}
