<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Home</title>
</head>
<body>
  <header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/register">Registrarse</a></li>
            <li><a href="/login">Iniciar Sesión</a></li>
            <li><a href="/contact">Contáctanos</a></li>
            <li><a href="/services">Servicios</a></li>
        </ul>
    </nav>
</header>
<main>
  <h1>Home</h1>
</body>
</html>