{% extends '/Layouts/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleIndex.css') }}">
{% endblock %}
</head>
<body>
    <div class="container">
      <br>
      <br>
        <h1>Bienvenido a External Glow</h1>
        <p class="center">¡Únete a nuestra plataforma y lleva tu negocio de belleza a otro nivel! Miles de clientes potenciales te esperan para descubrir tus servicios.</p>
        <br>
        <a href="/login" class="cta-button">COMIENZA AHORA</a>
<br>
        <div class="hero">
            <div class="hero-text">
                <h1 class="homeh1">Únete a los miles de negocios de belleza que ya confían en nosotros</h1>
                <p>Te esperamos.....</p>
            </div>
            <div class="hero-image">
                <img src="{{ url_for('static', filename='img/imagen11.png') }}" alt="Equipamiento de salón de belleza">
            </div>
        </div>
        <br>
        <div class="services-section">
            <div class="service-icon">
              <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Icono de loto" class="imaggenlo">
            </div>
            <div class="service-content">
              <h1 class="titlepunete">Servicios que Benefician a tu Negocio</h1>
              <p class="punete">Únete a nosotros y alcanza tus objetivos empresariales. Nuestro compromiso es ayudarte a florecer y a conectar con más personas.</p>
            </div>
          </div>
<br>
        <div class="features">
            <div class="feature">
                <img src="{{ url_for('static', filename='img/imagen13.png') }}" alt="IA en tus manos">
                <h3>IA en tus manos</h3>
                <p>Descubre el poder de nuestra IA, que permite a los usuarios probar diferentes cortes de cabello. Como negocio, podrás saber con mayor certeza qué es lo que realmente desean tus clientes.</p>
            </div>
            <div class="feature">
                <img src="{{ url_for('static', filename='img/imagen14.png') }}" alt="Reservaciones Automatizadas">
                <h3>Reservaciones Automatizadas</h3>
                <p>Alcanza más clientes con nuestra opción de reservaciones. Permite a los usuarios reservar fechas específicas para sus cortes de cabello, mejorando así tu organización y eficiencia como negocio.</p>
            </div>
            <div class="feature">
                <img src="{{ url_for('static', filename='img/imagen15.png') }}" alt="Visibilidad en tu mano">
                <h3>Visibilidad en tu mano</h3>
                <p>Con nuestra aplicación móvil, alcanza nuevos usuarios y permite que conozcan tu negocio de una manera rápida y sencilla. Incrementa tu presencia y atracción en el mercado.</p>
            </div>
        </div>

        <div class="community-section">
            <h1>Únete a la comunidad</h1>
            <p class="subtitle">Sé parte de la comunidad de negocios que confían en nosotros para transformar sus objetivos en realidades.</p>
            
            <div class="business-cards">
                <div class="business-card">
                    <img src="{{ url_for('static', filename='img/empresa1.jpg') }}" alt="Centro Profecional De BellezaTzibana" class="business-image">
                    <h3>Centro Profesional De BellezaTzibana</h3>
                    <p class="address">Dirección: Primera avenida norte poniente sin número, 29950 Centro, Chis.</p>
                    <div class="rating">
                        <span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">☆</span>
                    </div>
                    <div class="actions">
                        <button class="action-btn">Ver mas..</button>
                        <button class="action-btn">Reservar</button>
                    </div>
                    <div class="owner">
                        <img src="{{ url_for('static', filename='img/perfil1.jpg') }}"  alt="Patricia Gomez Martines" class="owner-image">
                        <span>Patricia Gomez Martines</span>
                    </div>
                    <div class="icons">
                        <span class="icon">❤️</span>
                        <span class="icon">💬</span>
                    </div>
                </div>
        
                <div class="business-card">
                    <img src="{{ url_for('static', filename='img/empresa2.jpg') }}" alt="Peluqueria Un nuevo Cabello" class="business-image">
                    <h3>Peluquería Un nuevo Cabello</h3>
                    <p class="address">Direccion: Primera avenida norte poniente sin número, 29950 Centro, Chis.</p>
                    <div class="rating">
                        <span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span>
                    </div>
                    <div class="actions">
                        <button class="action-btn">Ver mas..</button>
                        <button class="action-btn">Reservar</button>
                    </div>
                    <div class="owner">
                        <img src="{{ url_for('static', filename='img/perfil2.png') }}" alt="Estelita Lopez Martinez" class="owner-image">
                        <span>Estelita Lopez Martinez</span>
                    </div>
                    <div class="icons">
                        <span class="icon">❤️</span>
                        <span class="icon">💬</span>
                    </div>
                </div>
            
            </div>

            <div class="burbuja-container">
                <a href="https://www.amazon.com/dp/B0DNLKPDLX/ref=apps_sf_sta" styles = "text-decoration:none; color:inherit;">
                    <div class="burbuja">
                        <span class="downland-text">
                            ¡¡Descarga la app ahora!!
                        </span>
                        <span class="available-text">
                            Disponible en Amazon Store
                        </span>
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Descarga la App" class="logo-img">
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
{% endblock %}