{% extends '/Layouts/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleService.css') }}">
{% endblock %}

<div class="community-section">
    <h1>¿Qué ofrecemos?</h1>
    <p class="subtitle">Te ofrecemos todo lo que necesitas en un solo lugar</p>

    <div class="business-publicity">
        <div class="header-text">
            <h2>Nuestros Servicios</h2>
            <p class="subtitle">Servicios de Vanguardia Para ti y tu Negocio</p>
            <p>ExternaGlow, transformamos tu experiencia de belleza con tecnología de vanguardia. Ofrecemos reservas automatizadas, visualización de estilos personalizados y una mayor visibilidad para tu negocio. ¡Impulsa tu éxito con nosotros!</p>
        </div>
    </div>
    <div class="contenido">
        <div class="servicios">
            <div class="servicio">
                <div class="emoji">🪒</div>
                <h3>Publicidad de Negocios Locales</h3>
                <p>Atrae más clientes locales</p>
            </div>
            <div class="servicio">
                <div class="emoji">💇‍♂️</div>
                <h3>Publicidad para Peluquerías</h3>
                <p>Destaca tu salón de belleza</p>
            </div>
            <div class="servicio">
                <div class="emoji">💅</div>
                <h3>Publicidad para Salones y centros de belleza</h3>
                <p>Consigue más clientes para tu negocio</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    
        
</div>
</div>
{% endblock %}