{% extends '/Layouts/navbar.html' %}
{% block title %}Reservaciones Aceptadas{% endblock %}

{% block content %}
<div class="container bg-white mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8">
    <h2 class="text-2xl font-bold mb-4">Reservaciones Aceptadas</h2>
    {% if reservaciones %}
        <ul class="space-y-4">
            {% for reservacion in reservaciones %}
                <li class="bg-gray-50 shadow rounded-lg p-4" data-reservation-id="{{ reservacion.id }}">
                    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center">
                        <div class="mb-2 sm:mb-0">
                            <h5 class="text-lg font-semibold">Tipo de Servicio: {{ reservacion.tipo_de_servicio }}</h5>
                            <p class="text-gray-600">Fecha: {{ reservacion.fecha }} - Hora: {{ reservacion.hora_seleccionada }}</p>
                        </div>
                        <div class="flex flex-wrap gap-2">
                            <button onclick="showDetails('{{ reservacion.id }}')" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300">
                                Ver Detalles
                            </button>
                            <button onclick="showCancelModal('{{ reservacion.id }}', '{{ reservacion.fecha }}', '{{ reservacion.hora_seleccionada }}')" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded transition duration-300">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
       <!-- Pagination -->
       <div class="mt-8 flex justify-center">
        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
            {% if page > 1 %}
                <a href="{{ url_for('index_blueprint.accepted_reservations', page=page-1) }}" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                    Anterior
                </a>
            {% endif %}
            
            {% for p in range(1, pages + 1) %}
                <a href="{{ url_for('index_blueprint.accepted_reservations', page=p) }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium {% if p == page %}text-blue-600 bg-blue-50{% else %}text-gray-700 hover:bg-gray-50{% endif %}">
                    {{ p }}
                </a>
            {% endfor %}
            
            {% if page < pages %}
                <a href="{{ url_for('index_blueprint.accepted_reservations', page=page+1) }}" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                    Siguiente
                </a>
            {% endif %}
        </nav>
    </div>
{% else %}
    <p class="text-gray-600">No hay reservaciones aceptadas.</p>
{% endif %}
</div>

<!-- Details Modal -->
<div id="detailsModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full hidden">
    <div class="flex items-center justify-center min-h-screen">
        <div class="relative mx-auto p-5 border w-full max-w-2xl shadow-lg rounded-md bg-white">
            <div class="flex justify-between items-start mb-4">
                <h3 class="text-xl font-bold text-gray-800">Detalles de la Reservación</h3>
                <button onclick="closeModal('detailsModal')" class="px-4 py-2 bg-gray-300 text-gray-800 text-base font-medium rounded-md shadow-sm hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500 transition duration-300">
                    Cerrar
                </button>
            </div>
            <div id="reservationDetails" class="mt-4 max-h-[60vh] overflow-y-auto">
                <!-- Los detalles se insertarán aquí dinámicamente -->
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    var reservacionesData = '{{ reservaciones | tojson | safe }}';
</script>
<script src="{{ url_for('static', filename='js/AcepCreser.js') }}"></script>
{% endblock %}
