{% extends '/Layouts/navbar.html' %}
{% block title %}Página Administrativa{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashpre.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="content">
    <div class="agenda">
        
        <h3>Potencia tu negocio con la herramienta de Reservaciones</h3>
        <br>
        <br>
        <p>Suscríbete al Plan Premium por tan solo 150 $ Pesos</p>
        <button class="btn"><a href="/princing" style="text-decoration: none; color: black;"> Suscribirse</a></button>
    </div>

</div>

{% endblock %}