{% extends '/Layouts/navbar.html' %}
{% block title %}Página Administrativa{% endblock %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class=" md:container max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <div class="agenda">
        <h2>Agenda de Reservaciones Pendientes</h2>
        {% if reservaciones %}
            <ul class="reservations-list">
                {% for reservacion in reservaciones %}
                    <li class="reservation-item" data-reservation-id="{{ reservacion.id }}">
                 <div>
                    <h5 class="mb-1 arial-font">Usuario Reservando: {{ reservacion.user_name }} {{ reservacion.last_name }}</h5>
                    <h6 class="mb-1 arial-font">Tipo de Servicio: {{ reservacion.tipo_de_servicio }}</h6>
                    <p class="mb-1 arial-font">Fecha: {{ reservacion.fecha }} - Hora: {{ reservacion.hora_seleccionada }}</p>
                 </div>
                        <div class="reservation-actions">
                            <button onclick="showDetails('{{ reservacion.id }}')" class="btn btn-info">Ver Detalles</button>
                            <button onclick="showAcceptModal('{{ reservacion.id }}')" class="btn btn-success">Aceptar</button>
                            <button onclick="showRejectModal('{{ reservacion.id }}')" class="btn btn-danger">Rechazar</button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="no-reservations">No hay citas pendientes.</p>
        {% endif %}
    </div>
</div>

<div id="detailsModal" class="modal" tabindex="-1">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="reservationDetails"></div>
    </div>
</div>

<!-- Modal para Aceptar Reservación -->
<div id="acceptModal" class="modal" tabindex="-1">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Confirmar Aceptación</h2>
        <br>
        <p>¿Está seguro que desea aceptar esta reservación?</p>
        <button onclick="acceptReservation()" class="btn btn-success">Confirmar</button>
        <br>
        <button onclick="closeModal('acceptModal')" class="btn btn-secondary">Cancelar</button>
    </div>
</div>

<!-- Modal para Rechazar Reservación -->
<div id="rejectModal" class="modal" tabindex="-1">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Confirmar Rechazo</h2>
        <br>
        <p>¿Está seguro que desea rechazar esta reservación?</p>
        <button onclick="rejectReservation()" class="btn btn-danger $red-600">Confirmar</button>
        <br>
        <button onclick="closeModal('rejectModal')" class="btn btn-secondary">Cancelar</button>
    </div>
</div>
<script>
    var reservacionesData = '{{ reservaciones | tojson | safe }}';
</script>
<script src="{{ url_for('static', filename='js/Creser.js') }}"></script>



{% endblock %}


