{% extends '/Layouts/navbar.html' %}
{% block title %}Página Administrativa{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8 bg-white">
    <div class="bg-white rounded-lg overflow-hidden">
        <button type="button" onclick="location.reload()" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
            Refrescar Reservaciones
        </button>
        
        <div class="p-6">
            <h2 class="text-2xl font-bold text-gray-800 mb-6">Agenda de Reservaciones Pendientes</h2>
            {% if reservaciones %}
                <ul class="space-y-4">
                    {% for reservacion in reservaciones %}
                        <li class="bg-gray-50 rounded-lg p-4 shadow" data-reservation-id="{{ reservacion.id }}">
                            <div class="flex flex-col sm:flex-row justify-between items-start">
                                <div class="mb-4 sm:mb-0">
                                    <h5 class="text-lg font-semibold text-gray-800">{{ reservacion.user_name }} {{ reservacion.last_name }}</h5>
                                    <p class="text-sm text-gray-600">{{ reservacion.tipo_de_servicio }}</p>
                                    <p class="text-sm text-gray-600">{{ reservacion.fecha }} - {{ reservacion.hora_seleccionada }}</p>
                                </div>
                                <div class="flex flex-wrap gap-2">
                                    <button onclick="showDetails('{{ reservacion.id }}')" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition duration-300">Ver Detalles</button>
                                    <button onclick="acceptReservation('{{ reservacion.id }}')" class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition duration-300">Aceptar</button>
                                    <button onclick="rejectReservation('{{ reservacion.id }}')" class="px-4 py-2 bg-red-500  text-white rounded hover:bg-red-600 transition duration-300">Rechazar</button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <!-- Pagination -->
                <div class="mt-8 flex justify-center">
                    <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                        {% if page > 1 %}
                            <a href="{{ url_for('index_blueprint.dashboard_premium', page=page-1) }}" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                Anterior
                            </a>
                        {% endif %}
                        
                        {% for p in range(1, pages + 1) %}
                            <a href="{{ url_for('index_blueprint.dashboard_premium', page=p) }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium {% if p == page %}text-blue-600 bg-blue-50{% else %}text-gray-700 hover:bg-gray-50{% endif %}">
                                {{ p }}
                            </a>
                        {% endfor %}
                        
                        {% if page < pages %}
                            <a href="{{ url_for('index_blueprint.dashboard_premium', page=page+1) }}" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                Siguiente
                            </a>
                        {% endif %}
                    </nav>
                </div>
            {% else %}
                <p class="text-center text-gray-600">No hay citas pendientes.</p>
            {% endif %}
        </div>
    </div>
</div>

<div id="detailsModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden p-4 overflow-y-auto">
    <div class="bg-white rounded-lg p-6 sm:p-8 max-w-md w-full mx-auto my-8">
        <div class="flex justify-between items-start mb-4">
            <h3 class="text-xl font-bold text-gray-800">Detalles de la Reservación</h3>
            <button onclick="closeModal('detailsModal')" class="px-4 py-2 bg-gray-300 text-gray-800 text-base font-medium rounded-md shadow-sm hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500 transition duration-300">
                Cerrar
            </button>
        </div>
        <div id="reservationDetails" class="space-y-4 max-h-[60vh] overflow-y-auto">
        </div>
    </div>
</div>
<script>
    var reservacionesData = '{{ reservaciones | tojson | safe }}';
</script>
<script src="{{ url_for('static', filename='js/Creser.js') }}"></script>
{% endblock %}