{% extends '/Layouts/navbar.html' %}
{% block title %}Página Administrativa{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-8">
        <div class="bg-gray-800 text-white p-8 mb-0 rounded-lg">
            <h1 class="text-2xl font-medium">Editar Perfil del Negocio</h1>
        </div>
        
        <form id="registro-form" action="/Authentication/update_business_profile" method="POST" enctype="multipart/form-data" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <input type="hidden" id="business_id" name="business_id" value="{{ business_id }}">
            
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="business_name">
                    Nombre del Negocio
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="business_name" name="business_name" type="text" placeholder="Nombre del Negocio" value="{{ session.get('nombre_negocio', '') }}" required minlength="3" maxlength="100">
            </div>
            
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="business_state">
                    Estado del Negocio
                </label>
                <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="business_state" name="business_state" required>
                    <option value="activado" {% if session.get('negocio_activo') %}selected{% endif %}>Activado</option>
                    <option value="desactivado" {% if not session.get('negocio_activo') %}selected{% endif %}>Desactivado</option>
                </select>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="owner_name">
                    Nombre del Propietario
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="owner_name" name="owner_name" type="text" placeholder="Nombre del Propietario" value="{{ session.get('nombre_propietario', '') }}" required>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="business_address">
                    Dirección del Negocio
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="business_address" name="business_address" type="text" placeholder="Dirección del Negocio" value="{{ session.get('direccion_negocio', '') }}" required>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="services_offered">
                    Servicios Ofrecidos
                </label>
                <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="services_offered" name="services_offered" required>
                    <option value="">Seleccione un servicio</option>
                    <option value="Estetica" {% if session.get('servicios_ofrecidos') == 'Estetica' %}selected{% endif %}>Estética</option>
                    <option value="Peluqueria" {% if session.get('servicios_ofrecidos') == 'Peluqueria' %}selected{% endif %}>Peluquería</option>
                    <option value="Salon" {% if session.get('servicios_ofrecidos') == 'Salon' %}selected{% endif %}>Salón de Belleza</option>
                </select>
            </div>
            
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">
                    Horario de Servicio
                </label>
                <div class="flex flex-wrap -mx-2">
                    <div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="opening_time_1">
                            Primer Turno:
                        </label>
                        <div class="flex">
                            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-2" type="time" id="opening_time_1" name="opening_time_1" value="{{ session.get('horas_trabajo', {}).get('turno_1', '').split(' - ')[0] }}" required>
                            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="time" id="closing_time_1" name="closing_time_1" value="{{ session.get('horas_trabajo', {}).get('turno_1', '').split(' - ')[1] }}" required>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 px-2">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="opening_time_2">
                            Segundo Turno (opcional):
                        </label>
                        <div class="flex">
                            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-2" type="time" id="opening_time_2" name="opening_time_2" value="{{ session.get('horas_trabajo', {}).get('turno_2', '').split(' - ')[0] }}">
                            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="time" id="closing_time_2" name="closing_time_2" value="{{ session.get('horas_trabajo', {}).get('turno_2', '').split(' - ')[1] }}">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="profile-image-upload">
                    Foto de Perfil
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="file" id="profile-image-upload" name="profile-image-upload" accept="image/*">
                <div id="profile-image-preview" class="flex flex-wrap mt-2">
                    {% if session.get('perfiles_imagenes') %}
                        <img src="{{ session.get('perfiles_imagenes') }}" alt="Foto de perfil actual" class="w-24 h-24 object-cover rounded mr-2 mb-2">
                    {% endif %}
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="business-image-upload">
                        Imágenes del negocio (Proximamente)
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-500 leading-tight bg-gray-200 cursor-not-allowed" type="file" id="business-image-upload" name="business-image-upload[]" accept="image/*" multiple disabled>
                    <p class="text-sm text-gray-500 mt-1">La carga de imágenes está actualmente deshabilitada.</p>
                </div>
                
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="service-image-upload">
                        Imágenes de servicios (Proximamente)
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-500 leading-tight bg-gray-200 cursor-not-allowed" type="file" id="service-image-upload" name="service-image-upload[]" accept="image/*" multiple disabled>
                    <p class="text-sm text-gray-500 mt-1">La carga de imágenes está actualmente deshabilitada.</p>
                </div>
            </div>

            <div class="flex items-center justify-between">
                <button class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Actualizar
                </button>
                <a href="/perfil" class="bg-red-500 hover:bg-red-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Regresar
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}