<footer>
    <div class="footer">
    <div class="row">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-youtube"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
    

    
    <div class="row">
        <p>Propiedad artística © 2024 Jaydey. Todos los derechos reservados.</p>
        <ul>
            <li><a href="#">Aviso de Privacidad</a></li>
            <li><a href="#">Términos y Condiciones</a></li>
        </ul>
    </div>
    </div>
    </footer>