
<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>Síganos</h3>
            <ul class="footer-socials">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
            </ul>
        </div>
        
        <div class="footer-section">
            <h3>Suscríbete Ahora!</h3>
            <p>Recibí con antelación nuestras ofertas y promociones.</p>
            <form>
                <input type="email" placeholder="Dirección de correo electrónico">
                <button type="submit">Registrarse</button>
            </form>
        </div>
        
        <div class="footer-section">
            <h3>Nuestros Productos</h3>
            <ul class="footer-links">
                <li><a href="#">Lanzamientos</a></li>
                <li><a href="#">Fragancias</a></li>
                <li><a href="#">Make Up</a></li>
                <li><a href="#">Dermocosmética</a></li>

            </ul>
        </div>
        
        <div class="footer-section">
            <h3>Servicio al Cliente</h3>
            <ul class="footer-links">
                <li><a href="#">Sucursales</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
    </div>
    
    <div class="footer-bottom">
        <p>Propiedad artística &copy; 2024 Jaydey. Todos los derechos reservados.</p>
        <p>Tecnología de Shopify</p>
        <div class="legal-info">
            <p><a href="#">Aviso de Privacidad</a> | <a href="#">Términos y Condiciones</a></p>
        </div>
    </div>
</footer>
