<header>
    <div class="logo">
        <a href="/">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo de la Empresa">
        </a>
    </div>
    
    <nav>
        <ul class="nav-links">
            <li><a href="/">Inicio</a></li>
            <li><a href="{{ url_for('index_blueprint.contact') }}">Contacto</a></li>
            <li><a href="{{ url_for('index_blueprint.services') }}">Servicios</a></li>
            <li><a href="{{ url_for('index_blueprint.login') }}">Inicio de Sesión</a></li>
            <li><a href="{{ url_for('index_blueprint.register') }}">Registro</a></li>
        </ul>
    </nav>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
   </div> 

</header>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const hamburger = document.querySelector('.hamburger');
        const navLinks = document.querySelector('.nav-links');
    
        hamburger.addEventListener('click', function() {
            navLinks.classList.toggle('open');
            hamburger.classList.toggle('active');
        });
    });
    </script>
   