<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nabavr</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="bg-gray-100">
    <nav class="bg-gray-800 text-white">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
                <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="hidden sm:block sm:ml-6">
                        <div class="flex space-x-4">
                            <a href="{{ url_for('index_blueprint.dashboard_premium') }}" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium no-underline">
                                <i class="fas fa-home mr-2"></i>Inicio
                            </a>
                            <a href="{{ url_for('index_blueprint.accepted_reservations') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium no-underline">
                                <i class="fas fa-images mr-2"></i>Mis Reservaciones
                            </a>
                            <a href="/Authentication/mi_perfil" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium no-underline">
                                <i class="fas fa-store mr-2"></i>Mi negocio
                            </a>
                            <a href="{{ url_for('index_blueprint.promotions') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium no-underline">
                                <i class="fas fa-thumbtack mr-2"></i>Promociones
                            </a>
                            <a href="{{ url_for('index_blueprint.logout') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium no-underline">
                                <i class="fas fa-sign-out-alt mr-2"></i>Cerrar Sesión
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sm:hidden" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1">
                <a href="{{ url_for('index_blueprint.dashboard_premium') }}" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium no-underline">
                    <i class="fas fa-home mr-2"></i>Inicio
                </a>
                <a href="{{ url_for('index_blueprint.accepted_reservations') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium no-underline">
                    <i class="fas fa-images mr-2"></i>Mis Reservaciones
                </a>
                <a href="/Authentication/mi_perfil" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium no-underline">
                    <i class="fas fa-store mr-2"></i>Mi negocio
                </a>
                <a href="{{ url_for('index_blueprint.promotions') }}"  class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium no-underline">
                    <i class="fas fa-thumbtack mr-2"></i>Promociones
                </a>
                <a href="{{ url_for('index_blueprint.logout') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium no-underline">
                    <i class="fas fa-sign-out-alt mr-2"></i>Cerrar Sesión
                </a>
            </div>
        </div>
    </nav>

    <main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
            <div class="">
              {% block content %}

              {% endblock %}
            </div>
        </div>
    </main>

    <footer>

        <footer class="w-full bg-[#1f2937] p-4 text-white fixed bottom-0">
            <div class="container mx-auto flex justify-between items-center">
              <div class="text-left">
                © 2024 Copyright:
                <a href="#" class="text-white no-underline">External Glow</a>
              </div>
              <div class="flex space-x-4">
                <a href="https://www.facebook.com/profile.php?id=61565990735748&mibextid=ZbWKwL" class="hover:text-gray-400"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="hover:text-gray-400"><i class="fab fa-twitter"></i></a>
                <a href="#" class="hover:text-gray-400"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </footer>
    <script>
        const mobileMenuButton = document.querySelector('[aria-controls="mobile-menu"]');
        const mobileMenu = document.getElementById('mobile-menu');

        mobileMenuButton.addEventListener('click', () => {
            const expanded = mobileMenuButton.getAttribute('aria-expanded') === 'true' || false;
            mobileMenuButton.setAttribute('aria-expanded', !expanded);
            mobileMenu.classList.toggle('hidden');
        });
    </script>

</body>
</html>